{
  "root": true,
  "extends": [
    "lag/react-universal"
  ],
  "globals": {
    "console": false
  },
  "rules": {
    "no-console": ["warn", { "allow": ["warn", "error", "info"] }],
    "import/no-extraneous-dependencies": ["warn"]
  }
}