---

# server vars
ansible_host: ~
ansible_user: ~
ansible_port: ~

# project vars
user: ~
deploy_path: ~
deployer_local_pubkey: '~/.ssh/id_rsa.pub'
git_host: ~
git_repository: ~
git_version: ~
server_admin: ~

# environment variables
npm_env_variables: {}
